<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect for listing</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth access is required to connect.
</string>
</dict>
</plist>
